.list-container {
  border: 1px solid #b6c3ca;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 10px;
}
.initial-Letter {
  height: 37px;
  width: 37px;
  border: none;
  border-radius: 20px;
  text-align: center;
  padding-top: 8px;
  color: white;
  margin: 15px;
  margin-left: 0px;
  font-weight: bold;
  align-self: center;
}
.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ffffff;
}
.websiteName {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0px;
}
.userName {
  font-size: 15px;
  font-weight: 600;
  margin-top: 0px;
}
.password {
  font-size: 15px;
  font-weight: 600;
  margin-top: 0px;
}
.stars-image {
  height: 20px;
  width: 100px;
}
.delete-button {
  border: none;
  align-self: center;
  background-color: transparent;
  cursor: pointer;
}
.delete-img {
  height: 20px;
  width: 20px;
}

@media (min-width: 768px) {
  .list-container {
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 10px;
  }
}
